{% extends 'base.html' %}
{% block content %}

<main style="text-align: center;" role="main" class="inner cover">
    <div id="titulo_do_site">
      <h1>mediaboxd</h1>
      <p class="subtitulo">O melhor site de reviews</p>
      <p class="lead">
        <a href="/accounts/login/" class="botao btn btn-lg btn-secondary">Saiba mais</a>
      </p>
    </div>
    
    <div style="padding:40px;font-size:24px;" id="texto_explicativo">
      <p>No Mediaboxd você pode fazer reviews do que você mais gosta de fazer! 
      <br><b>Crie já sua conta e comece a dar sua opinião!</b></p>
    </div>

    <div id="imagens" class="body2">
      <p class="subtitulo"><b>Todas as formas de entretenimento em um só lugar!</b></p>
      <div class="row">
        <div class="column">
          <img src="/static/imagens/filme.jpg" alt="Esquadrao Suicida" style="width:100%">
          <p>Filmes</p>
        </div>
        <div class="column">
          <img src="/static/imagens/serie.jpeg" alt="Squid Game" style="width:100%">
          <p>Séries</p>
        </div>
        <div class="column">
          <img src="/static/imagens/jogo.jpg" alt="Far Cry 6" style="width:100%">
          <p>Jogos</p>
        </div>
        <div class="column">
          <img src="/static/imagens/livro.jpg" alt="Vermelho, Branco e Sangue Azul" style="width:100%">
          <p>Livros</p>
        </div>
      </div>

      <p class="subtitulo"><b>Veja o que a galera tá comentando!</b></p>
      <div>
        <!-- slideshow --> 
      </div>
    </div>
</main>


{% endblock %}