{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  #texto{
    text-align: center;
  }
</style>

<main id="texto" role="main" class="inner cover">
    <div>
      <p class="titulo">mediaboxd</p>
      <p class="subtitulo">O melhor site de reviews</p>
      <p class="lead">
        <a href="/accounts/login/" class="botao btn btn-lg btn-secondary">Saiba mais</a>
      </p>
    </div>
    
    <div class="body2">
      <p>Você quer saber o que estão falando do seu filme ou série favorita?<br>Procurando algum livro novo para ler? Cansado do mesmo jogo?</p>
      <p><b>Saiba tudo isso no mediaboxd!</b></p>

      <div class="row">
        <div class="column">
          <img src="imagens/filme.jpg" alt="Esquadrao Suicida" style="width:100%">
          <p><b>Filmes</b></p>
        </div>
        <div class="column">
          <img src="imagens/serie.jpeg" alt="Squid Game" style="width:100%">
          <p><b>Séries</b></p>
        </div>
        <div class="column">
          <img src="imagens/jogo.png" alt="Far Cry 6" style="width:100%">
          <p><b>Jogos</b></p>
        </div>
        <div class="column">
          <img src="imagens/livro.jpg" alt="Vermelho, Branco e Sangue Azul" style="width:100%">
          <p><b>Livros</b></p>
        </div>
      </div>

    </div>
</main>


{% endblock %}