{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div style="color: rgb(41, 41, 41);" class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">
                    Criar review
                </h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{form|crispy}}
                    <input type="hidden" id="project-id">        
                    <button type="submit" class="botao btn btn-primary btn-block"> Adicionar </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#media").autocomplete({
            source: '{% url 'media_autocomplete' %}',
            minLength: 2,
            select: function (event, ui) {
                $('#media').val(ui.item.label);
                $('#media-id').val(ui.item.value);
                return false;
            },
            focus: function (event, ui) {
                $('#media').val(ui.item.label);
                $('#media-id').val(ui.item.value);
                return false;
            }
        });
    });
</script>

{% endblock %}