{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Lista de Tarefas{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">
                    Criar review
                </h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{form|crispy}}
                    <button type="submit" class="botao btn btn-primary btn-block"> Adicionar </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}