{% extends 'base.html' %} {% block content %}

<div>
  <h2>Minhas Reviews</h2>

  <div class="row my-3">
    <div class="col-8">
      <form action="{% url 'list_reviews_me' %}" method="get">
        <div class="input-group">
          <input name="q" class="form-control py-2 border-right-0 border" type="search"
            placeholder="Digite o nome da review..." id="example-search-input" />
          <!-- <button class="btn btn-outline-secondary" >Search</button> -->
          <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border" type="submit">
              <i class="fa fa-search"></i>
              </a>
          </span>
        </div>
      </form>
    </div>
    <div class="col-4 text-right">
      <a type="button" class="botao btn btn-primary" href="{% url 'create_reviews' %}">Adicionar</a>
    </div>
  </div>
  <table class="table table-borderless table-hover">
    <thead style="background-color: rgb(255, 217, 0);">
      <tr>
        <th class="text-table-header" scope="col">#</th>
        <th class="text-table-header" scope="col">Título</th>
        <th class="text-table-header d-none d-sm-block" scope="col">Criado em</th>
        <th class="text-table-header" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
      <tr>
        <th class="text-table" scope="row">{{review.id}}</th>
        <td>
          <a class="hyperlink2" href="{{review.id}}">
            <span style="color: rgb(255, 217, 0); font-weight: bold">{{ review.title|truncatechars:18}}</span>
          </a>
        </td>
        <td class="text-table d-none d-sm-block">{{review.created_at}}</td>
        <td>
          <div>
            <a class="fas fa-trash" type="submit" href="delete/{{review.id}}"></a>
          <a class="fas fa-edit" href="update/{{review.id}}"></a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}