{% extends 'base.html' %}
{% block content %}

<div class="offset-1 col-10 list-div">
    <h2 style="color: rgb(255, 217, 0);">{{review.title}}</h2>
    <br>
    <p>{{review.content}}</p>
    <br>
    <p class="font-weight-bold">Review de <a href="/reviews?q={{review.media.name}}">{{review.media.name}}</a>. Por <a href="/reviews?u={{review.author}}">{{review.author}}</a>, em {{review.created_at}}</p>
    <br>
    {% for tag in review.tags.all %}
    <span class="badge badge-warning">{{tag}}</span>
    {% endfor %}
</div>

{% endblock %}